<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=1">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>{{ site.title | default: site.github.repository_name }}</title>
</head>
<body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="http://aka.ms/OESDKGitHubRepo">View on GitHub</a>
            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
            <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>


            <div class="dropdown" style="float:right">
                <button class="dropbtn">API Documentation</button>
                <div class="dropdown-content">
                    <a href="../apidocs/v0.4">v0.4</a>
                    <a href="../apidocs/v0.5">v0.5</a>
                    <a href="../apidocs/v0.6">v0.6</a>
                    <a href="../apidocs/v0.7">v0.7</a>
                    <a href="../apidocs/v0.8">v0.8</a>
                    <a href="../apidocs/v0.9">v0.9</a>
                    <a href="../apidocs/v0.10">v0.10</a>
                    <a href="../apidocs/v0.11">v0.11</a>
                    <a href="../apidocs/v0.12">v0.12</a>
                    <a href="../apidocs/v0.13">v0.13</a>
                    <a href="../apidocs/v0.14">v0.14</a>
                </div>
            </div>
            <!--<a style="float:right; margin: 0px 30px 0px 0px" href="{{ site.docs }}">docs</a>-->

        </header>
    </div>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>
    <div id="calltoaction_wrap" class="outer" >
        <section id="main_content" class="inner">
            <h3 style="text-align:left">Getting Started</h3>
            <div class="row3">            
            <!--<div class="column3" style="background:green; text-align: center"><h4 style="text-align: center"><a href="https://aka.ms/ccvm" style="color:White">Deploy a DC-series Virtual Machine in Azure</a></h4><p>Provision an Azure Confidential Computing VM with Open Enclave SDK preinstalled</p></div>-->
            <div class="column3" style="background:orange; text-align: center"><h4 style="text-align: center"><a href="https://github.com/openenclave/openenclave/blob/v0.14.x/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_16.04.md" style="color:White">Install the Linux SDK Package on Ubuntu 16.04</a></h4><p>Install the Open Enclave SDK package on Ubuntu 16.04</p></div>
             <div class="column3" style="background:green; text-align: center"><h4 style="text-align: center"><a href="https://github.com/openenclave/openenclave/blob/v0.14.x/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md" style="color:White">Install the Linux SDK Package on Ubuntu 18.04</a></h4><p>Install the Open Enclave SDK package on Ubuntu 18.04</p></div>
            <div class="column3" style="background:DarkGoldenRod; text-align: center"><h4 style="text-align: center"><a href="https://github.com/openenclave/openenclave/blob/v0.14.x/docs/GettingStartedDocs/install_oe_sdk-Windows.md" style="color:White">Install the Windows SDK Package</a></h4><p>Install the Open Enclave SDK package on Windows Server 2016/Windows Server 2019</p></div>
            <div class="column3" style="background:teal ; text-align: center"><h4 style="text-align: center"><a href="https://github.com/openenclave/openenclave" style="color:White">Clone the Repo</a></h4><p>Clone the Open Enclave SDK repo</p></div>
       </div>
        </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">

            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
    {% if site.google_analytics %}
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>
</html>
